
$main-font: Arial, sans-serif;
$primary-color: #25d366;
$secondary-color: #128c7e;
$border-color: #ccc;
$placeholder-color: #999;
$focus-color: #201e1d;
$success-color: #1ca34b;
$text-color: #999;
$small-font-size: 14px;
$medium-font-size: 15px;
$large-font-size: 20px;
$border-radius: 10px;
