@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

$headerColor: hsl(0, 0%, 92%);
$fontFamily: 'Poppins', sans-serif;
$borderHeaderColor: hsl(0, 0%, 60%);
$backgroundChatsSearchColor: hsl(0, 0%, 95%);
$backgroundInputColor: hsl(0, 0%, 100%);
$hoverContactColor: hsl(0, 0%, 80%);
$backgroundChatColor: hsl(34, 78%, 91%);
$backgroungImageURL: url("../../images/fondo.png");
$chatInputColor: hsl(0, 0%, 95%);
$menssageColor:hsl(94, 78%, 87%);
$seeTextColor: hsla(0, 0%, 43%, 0.795);
$friendMessageColor: hsl(0, 0%, 100%);
$headerColorProfile: #5bb992;

$main-font: Arial, sans-serif;
$primary-color: #25d366;
$secondary-color: #128c7e;
$border-color: #ccc;
$placeholder-color: #999;
$focus-color: #201e1d;
$success-color: #1ca34b;
$text-color: #999;
$small-font-size: 14px;
$medium-font-size: 15px;
$large-font-size: 20px;
$border-radius: 10px;
$url-fondow: url("../../images/fondow.jpg");