@use 'login';
@use 'message';
@use 'chat';
@use 'chats';
@use 'main';
@use 'header';
@use 'body'; 
@use 'home';
@use 'variables';

* {
    font-family: variables.$fontFamily;
    margin: 0;
    box-sizing: border-box;
}
